doctype html
html(lang="es")
	head
		title Steven Medina
	body
		h1 Steven Medina
		#container.col
			p You Are Amazing
			p. 
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus libero non pariatur soluta, similique, magni molestias unde explicabo aliquam dolore rem. Minus id dolor in, soluta porro corporis debitis perferendis?